@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(236, 234, 234);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

.login-input {
  @apply border-2 w-full px-2 py-1 rounded-md focus:outline-none border-blue-600 shadow-md shadow-slate-500
}

.error-validation {
  @apply border-red-500 border-2
}

.nav-buttons {
  @apply flex items-center space-x-2 cursor-pointer hover:border-b-2 border-black active:text-red-500 w-min
}

.createBtn {
  @apply py-2 px-6 rounded-lg text-white cursor-pointer shadow-md shadow-slate-500  hover:border-2 transition-all duration-200
}

.taskbtn {
  @apply text-3xl cursor-pointer p-2 hover:text-indigo-600 transition-all hover:animate-bounce active:animate-pulse hover:scale-125 delay-300
}